/* ------------------Global Styles --------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: fit-content;
}

header nav ul li {
  display: inline;
}

body {
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
  margin-top: 10%;
  width: 100%;
  height: 250px;
}

main {
  position: relative;
  top: 80px;
}

a {
  text-decoration: none;
  color: white;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

/* ----------------------- Header ------------------------------ */

#top-nav {
  width: 100%;
  height: 20px;
  background: black;
}

.links li {
  font-size: 1.5em;
  padding: 3% 1%;
}

.other-articles li {
  margin: 0;
  padding: 5% 0;
  color: black;
  border-bottom: 1px solid grey;
}

.links nav ul li {
  display: inline;
}

.funding-header nav ul li {
  display: inline;
  padding: 0 0 0 10px;
}

#top-nav ul li {
  margin-left: 10px;
}

.top-nav-1 {
  width: 60%;
  margin: 0.4% 0;
}

.top-nav-2 {
  width: 40%;
  text-align: end;
  margin: 0.4% 0;
  padding: 0 10px 0 0;
}

#fixed-nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 60px;
  padding: 0;
  background: white;
  box-shadow: 3px 3px 5px gray;
}

#fixed-nav nav ul li {
  display: inline;
}

#logo {
  display: none;
}

#mobile-menu {
  display: none;
}

.footer-disclaimer img {
  width: 50px;
  height: 20px;
  padding-top: 10px;
}

.floating-img img {
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 1%;
}

.funding-article img {
  width: 50px;
  height: 50px;
  float: left;
  margin: 3%;
}

.large-art img {
  width: 70%;
  height: 30%;
  margin: 5% 2% 20% 2%;
}

#logo img {
  margin: 0.5% auto;
}

.other-articles a {
  color: black;
}

.article-container a {
  color: black;
}

.funding-article a {
  display: inline-block;
  color: gray;
  clear: both;
  font-size: 1.3em;
  margin: 2% 0 2% 2%;
}

.funding-header ul li a {
  color: red;
  text-decoration: none;
}

#fixed-nav nav {
  width: fit-content;
  text-align: start;
  margin: 2% 0;
}

#fixed-nav nav a {
  color: gray;
  width: 100px;
  margin: 1% 10px;
  font-size: 1.5em;
}

#fixed-nav figure {
  position: absolute;
  right: 5px;
  width: fit-content;
  height: 100%;
  margin: 2% 0;
}

figure i {
  margin: 0 5px;
  height: 100%;
  border: 1px solid lightgray;
}

/* -----------------------------Header Media Queries ----------------------- */

@media screen and (max-width: 700px) {
  h2,
  p {
    font-size: 0.4rem;
  }

  #logo {
    display: block;
    width: 106px;
    height: 100%;
    background: linear-gradient(45deg, red, purple);
    padding: 3% 2%;
  }

  #top-nav {
    display: none;
    top: -20px;
  }

  #fixed-nav {
    top: 0;
  }

  #fixed-nav nav {
    display: none;
  }

  #fixed-nav figure {
    right: 5px;
    padding: 2% 0;
  }

  #mobile-menu {
    display: block;
    color: orangered;
  }
}

/* ------------------------- Main Articles ------------------------- */

#main-articles {
  display: grid;
  width: 95%;
  height: 500px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main main sub1"
    "main main sub2";
  gap: 10px;
  margin: 0 auto;
}

.large-art {
  background-image:
    radial-gradient(farthest-corner at 80% 30%, rgb(255, 255, 255, 0.5), rgb(233, 24, 24, 0.5), black),
    url(../images/videogame.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: main;
  width: 100%;
  height: 100%;
  padding: 2% 2% 1% 2%;
}

.large-art h1 {
  font-size: 2.2em;
}

.small-art-2 h1,
.small-art-1 h1 {
  font-size: 1.5em;
}

.large-art p,
.small-art-1 p,
.small-art-2 p {
  color: lightgray;
}

.small-art-1 {
  background-image:
    linear-gradient(rgb(255, 255, 255, 0.1), black),
    url(../images/camera.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: sub1;
  height: 100%;
  width: 100%;
  padding: 30% 2% 0 2%;
}

.small-art-2 {
  background-image:
    linear-gradient(rgb(255, 255, 255, 0.1), black),
    url(../images/android.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: sub2;
  height: 100%;
  padding: 30% 2% 0 2%;
}

/* ----------------- Main Articles Media Queries ------------------ */
@media screen and (max-width: 700px) {
  #main-articles {
    grid-template-areas:
      "main main main"
      "sub1 sub1 sub1"
      "sub2 sub2 sub2";
    grid-template-rows: 1fr 0.7fr 0.7fr;
    height: fit-content;
  }

  .large-art {
    padding: 20% 2% 1% 2%;
    background-image:
      linear-gradient(rgb(255, 255, 255, 0.1), black),
      url(../images/videogame.jpg);
  }

  .large-art img {
    display: none;
  }

  .small-art-2,
  .small-art-1 {
    padding: 15% 2% 0 2%;
  }
}

/* ------------------------- Latest News --------------------------- */

#latest-news {
  margin: 3% auto;
}

.section-title {
  display: inline-block;
  width: 75%;
  margin: 0 12.5%;
  color: orangered;
}

.grid-container {
  display: grid;
  width: 75%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 10px;
  justify-content: space-between;
}

.article-container {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.article-container h2 {
  padding: 1% 2%;
}

.article-container p {
  padding: 2%;
  color: grey;
}

.article-image {
  float: none;
  display: block;
  height: 30%;
  width: 90%;
  margin: 2%;
}

/* --------------- Latest News Media Queries ----------------- */
@media only screen and (max-width: 700px) {
  .section-title {
    margin-left: 5%;
  }

  .grid-container {
    width: 100%;
    padding: 1%;
    justify-content: start;
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .article-container {
    width: 100%;
  }

  .article-image {
    width: 20%;
    height: 80px;
    float: left;
  }

  .article-container h2,
  .article-container p {
    font-size: 1.4em;
    padding: 2% 0 0 0;
  }
}

/* ------------------------- Funding Articles ----------------------- */

#funding-container {
  width: 75%;
  margin: 3% auto;
}

.funding-header {
  margin: 2% 0;
  width: 100%;
  justify-content: space-between;
}

.funding-header h1 {
  color: orangered;
}

.funding-body {
  justify-content: space-between;
}

.funding-article {
  width: 230px;
  background: rgb(255, 230, 220);
}

.funding-article h2 {
  font-size: 2em;
  width: 100%;
  height: 30px;
  padding: 2% 0 0 30%;
  background: red;
  color: white;
}

.funding-article h3 {
  font-size: 1.5em;
  width: 100%;
  height: 40px;
  padding: 3% 0 0 30%;
  background: rgb(238, 174, 174);
}

.funding-article p {
  padding: 0 0 0 2%;
  line-height: 20px;
  font-size: 1em;
}

/* ------------------------ Funding articles Media Queries -------- */
@media screen and (max-width: 900px) {
  #funding-container {
    width: 95%;
    margin: 3% auto;
  }

  .funding-header {
    display: block;
  }

  .funding-header h1 {
    font-size: 2.3em;
  }

  .funding-header nav {
    width: 100%;
    margin: 4% 0 4% 0;
    padding: 0 0 0 5%;
  }

  .funding-header nav ul li {
    display: block;
    padding: 2% 0 0 0;
  }

  .funding-body {
    justify-content: center;
  }

  .funding-article {
    margin: 3% 0;
    width: 100%;
  }

  .funding-article h2 {
    padding: 1% 0 0 10%;
  }

  .funding-article h3 {
    width: 100%;
    height: 40px;
    padding: 0.5% 0 0 10%;
  }

  .funding-article img {
    margin: 1%;
  }
}

/* ------------------------ Article Categories --------------------- */

#article-categories {
  width: 75%;
  margin: 3% auto;
  justify-content: space-between;
}

.category-container {
  width: 300px;
  height: fit-content;
  margin: 1% 0 3% 0;
}

.category-title {
  color: orangered;
  font-weight: bold;
  margin-bottom: 4%;
}

.img-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20vw;
  color: white;
}

.img-header1 {
  background-image: linear-gradient(rgb(255, 255, 255, 0.1), black), url(../images/art8.jpg);
  padding: 15% 2% 1% 2%;
}

.img-header2 {
  background-image: linear-gradient(rgb(255, 255, 255, 0.1), black), url(../images/art1.png);
  padding: 15% 2% 1% 2%;
}

.img-header3 {
  background-image: linear-gradient(rgb(255, 255, 255, 0.1), black), url(../images/art2.png);
  padding: 15% 2% 1% 2%;
}

.img-header4 {
  background-image: linear-gradient(rgb(255, 255, 255, 0.1), black), url(../images/art3.png);
  padding: 15% 2% 1% 2%;
}

.img-header5 {
  background-image: linear-gradient(rgb(255, 255, 255, 0.1), black), url(../images/art4.png);
  padding: 15% 2% 1% 2%;
}

.img-header6 {
  background-image: linear-gradient(rgb(255, 255, 255, 0.1), black), url(../images/art5.png);
  padding: 15% 2% 1% 2%;
}

.img-header7 {
  background-image: linear-gradient(rgb(255, 255, 255, 0.1), black), url(../images/art6.png);
  padding: 15% 2% 1% 2%;
}

.img-header8 {
  background-image: linear-gradient(rgb(255, 255, 255, 0.1), black), url(../images/art7.jpg);
  padding: 15% 2% 1% 2%;
}

.img-header9 {
  background-image: linear-gradient(rgb(255, 255, 255, 0.1), black), url(../images/art8.jpg);
  padding: 15% 2% 1% 2%;
}

.img-header h3 {
  padding-top: 50%;
}

.floating-img {
  background-color: rgb(233, 196, 182);
  height: 50px;
  color: orangered;
}

.floating-img h4 {
  font-size: 0.9em;
  padding: 2%;
}

.other-articles {
  clear: both;
}

.other-articles hr {
  border: none;
  border-top: 1px solid grey;
}

.other-articles ul {
  list-style: none;
}

.other-articles i {
  color: orangered;
  padding-right: 2%;
}

/* ------------------------- Article Categories Media Queries ------------------------- */

@media screen and (max-width: 900px) {
  #article-categories {
    width: 95%;
  }

  .category-container {
    width: 100%;
  }

  .img-header {
    height: 25%;
    padding: 5% 2% 1% 2%;
  }
}

/* ------------------------- Footer -------------------------------- */

.footer-links {
  height: 60%;
  background: rgb(36, 36, 36);
  text-align: center;
  padding: 2% 0;
}

.icons {
  margin: 0 0 2% 0;
}

.icons div {
  display: inline-block;
  background: rgb(110, 110, 110);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  color: white;
  padding-top: 0.6%;
  margin: 0 0 0 2%;
}

.footer-disclaimer {
  height: 40%;
  background: rgb(15, 15, 15);
  text-align: center;
  padding: 5% 0;
  color: lightgray;
}

.handy-btn {
  display: inline-block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  color: white;
  background: navy;
  border-radius: 100%;
  padding: 0.5% 0 0 0.7%;
}

/* ----------------------------Footer Media Queries -------------------------- */

@media screen and (max-width: 700px) {
  footer {
    margin-top: 30%;
  }

  .icons div {
    padding-top: 2.5%;
    margin: 0 0 0 1%;
  }

  .footer-disclaimer img {
    padding-top: 15px;
  }
}

/* ------------------------- Handy-btn Media Queries ------------------------- */
@media screen and (max-width: 900px) {
  .handy-btn {
    border-radius: 0%;
    padding: 1.5% 0 0 2%;
    bottom: 5px;
    right: 5px;
  }
}
