/* ------------------Global Styles ---------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: fit-content;
}

body {
  height: 2000px;
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
  width: 100%;
  height: 250px;
  margin-top: 10%;
}

nav ul li {
  display: inline;
}

main {
  position: relative;
  top: 80px;
}

a {
  text-decoration: none;
  color: white;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

/* ----------------------- Header ------------------------------*/

#top-nav {
  width: 100%;
  height: 20px;
  background: black;
}

#top-nav ul li {
  margin-left: 10px;
}

.top-nav-1 {
  width: 60%;
  margin: 0.4% 0;
}

.top-nav-2 {
  width: 40%;
  text-align: end;
  margin: 0.4% 0;
  padding: 0 10px 0 0;
}

#fixed-nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0 auto;
  background: white;
  box-shadow: 3px 3px 5px gray;
  z-index: 99;
}

#logo {
  width: 106px;
  height: 60px;
  background: linear-gradient(45deg, red, purple);
  padding: 1.6%;
}

#mobile-menu {
  display: none;
}

@media screen and (max-width: 700px) {
  #top-nav{
    display: none;
    top: -20px;
  }

  #fixed-nav {
    top: 0;
  }

  #fixed-nav nav {
    display: none;
  }

  #fixed-nav figure {
    right: 5px;
    padding: 2.3% 0;
  }

  #logo {
    padding: 5.3%;
  }

  #mobile-menu {
    display: block;
  }
  
}

#logo img {
  margin: 0.5% auto;
}

#fixed-nav nav {
  width: fit-content;
  text-align: start;
  margin: 2% 0;
}

#fixed-nav nav a {
  color: gray;
  width: 100px;
  margin: 1% 10px;
  font-size: 1.5em;
}

#fixed-nav figure {
  position: absolute;
  right: 5px;
  width: fit-content;
  height: 48px;
  margin: 2% 0;
}

figure img {
  margin: 0 5px;
}

/* ------------------------- Main Articles ------------------------- */

#main-articles {
  display: grid;
  width: 95%;
  height: 500px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "main main sub1"
    "main main sub2";
  gap: 10px;
  margin: 4% auto;
  background-color: orangered;
}
.large-art {
  background-image: url();
  height: fit-content;
  grid-area: main;
  height: 100%;
  padding-top: 50%;
}

.small-art-1 {
  background-image: url();
  height: fit-content;
  grid-area: sub1;
  height: 100%;
  width: 100%;
  padding-top: 30%;
}

.small-art-2 {
  background-image: url();
  height: fit-content;
  grid-area: sub2;
  height: 100%;
  padding-top: 30%;
}



/* ------------------------- Latest News --------------------------- */

#latest-news {
  margin: 3% auto;
}

.section-title {
  display: inline-block;
  width: 75%;
  margin: 0 12.5%;
}

.grid-container{
  display: grid;
  width: 75%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill,200px);
  grid-gap: 30px;
  justify-content: space-between;
}

.article-container{
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.article-container h2 {
  padding: 0 2%;
}

.article-container p {
  padding: 2%;
}

.article-image {
  float: none;
  display: block;
  height: 30%;
  width: 90%;
  margin: 2%;
}

@media only screen and (max-width: 700px) {
  /* --------------- Main Articles ----------------*/

  #main-articles {
    grid-template-areas: 
      "main main main"
      "sub1 sub1 sub1"
      "sub2 sub2 sub2";
  }

  /* --------------- Latest News -------------------*/

  .section-title {
    margin:0;
  }

  .grid-container {
    width: 100%;
    padding: 1%;
    justify-content: start;
  }

  .article-container {
    width: 150%;
    padding: 5% 2%;
    margin-left: 0.5em;
  }

  .article-image {
    width: 20%;
    height: 100%;
    float: left;
  }

  h2,p {
    font-size: 0.4rem;
  }
}

/* ------------------------- Funding Articles -----------------------*/

#funding-container {
  width: 75%;
  margin: 3% auto;
}

.funding-header {
  text-align: start;
  margin: 1% 0;
}

.funding-header nav {
  margin-left: 60%;
}

.funding-header ul li a {
  color: red;
  text-decoration: none;
}

.funding-body {
  justify-content: space-between;
}

.funding-article {
  width: 230px;
}
.funding-article h2 {
  width: 100%;
  height: 30px;
  padding: 2% 0 0 30%;
  background: red;
  color: white;
}

.funding-article h3 {
  width: 100%;
  height: 40px;
  padding: 3% 0 0 30%;
  background: rgb(238, 174, 174);
}

.funding-article img {
  width: 50px;
  height: 50px;
  float: left;
  margin: 3%;
}

.funding-article a {
  display: inline-block;
  color: gray;
  clear: both;
  font-size: 1.5em;
  margin: 5% 0 5% 15%;
}

.funding-article p {
  line-height: 20px;
  font-size: 1.2em;
}

/* ------------------------ Article Categories ---------------------*/

#article-categories {
  width: 75%;
  margin: 3% auto;
  justify-content: space-between;
}

.category-container {
  width: 300px;
  height: fit-content;
  margin: 1% 0 3% 0;
}

.category-title {
  color: red;
}

.img-header {
  background-image: url(../images/art8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20vw;
}

.img-header h3 {
  padding-top: 50%;
}

.floating-img {
  background-color: rgb(233, 196, 182);
  height: 50px;
}

.floating-img img {
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 1%;
}

.other-articles {
  clear: both;
}

.other-articles hr {
  border: none;
  border-top: 1px solid grey;
}

.other-articles ul {
  list-style-position: inside;
  /* list-style: none; */
}

.other-articles li {
  margin: 0;
  padding: 5% 0;
  color: black;
}

/* 
.other-articles li:before {
  color: orangered;
  content: "•";
  padding-left: 2%;
} */

.other-articles a{
  color: black;
}

.other-articles i{
  color: orangered;
  padding-right: 2%;
}

/* ------------------------- Footer --------------------------------*/

.footer-links {
  height: 60%;
  background: rgb(36, 36, 36);
  text-align: center;
  padding: 2% 0;
}

.links li {
  font-size: 1.5em;
  padding: 3% 1%;
}

.icons {
  margin: 0 0 2% 0;
}

.icons div {
  display: inline-block;
  background: rgb(110, 110, 110);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  color: white;
  padding-top: 0.6%;
  margin: 0 0 0 2%;
}

.footer-disclaimer {
  height: 40%;
  background: rgb(15, 15, 15);
  text-align: center;
  padding: 5% 0;
  color:lightgray;
}

.handy-btn {
  display: inline-block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  color: white;
  background: navy;
  border-radius: 100%;
  padding: 0.5% 0 0 0.7%;
}

/* ------------------------- Media Queries ------------------------- */
@media screen and (max-width: 700px) {
  .handy-btn {
    border-radius: 0%;
    padding: 2.5% 0 0 3%;
    bottom: 5px;
    right: 5px;
  }
}